.bg-green {
  background-color: darkgreen;
}

.bg-red {
  background-color: darkred;
}

///////////////////////////////////////////////////////////////////

.bg-m-white {
  background-color: $m-white;
}

.bg-my-primary {
  background-color: $primary;
}

.bg-my-secondary {
  background-color: $secondary;
}

.bg-main {
  background: url("/images/hero-mobile.jpg") no-repeat center;
  background-position-y: 5px;
  @include media-breakpoint-up(sm) {
    background-position-y: 10px;
  }
  @include media-breakpoint-up(md) {
    background: url(/images/hero-desktop.jpg)  no-repeat center;
    background-position-y: top;
  }
}

.bg-light {
  background-color: $light;
}