.my-btn{
  @extend .btn;
  border-radius: 0;
}

.ghost-btn {
  @extend .btn;
  border-radius: 0;
  transition: all .2s ease;
  border: 2px solid;
  &:hover {
    background-color: $darker;
    color: $light;
  }
  &:visited {
    background-color: $darker;
    color: $dark;
  }
}

.arrow-btn {
  background-color: black;
  &:hover {
    background-color: $darker;
  }
  &:visited {
    background-color: $dark;
  }
}

.review-btn {
  @include media-breakpoint-up(sm) {
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

.my-arrows{
  margin: 0 auto;
  @include media-breakpoint-up(sm) {
    margin: 0;
  }
}

.media-btn {
  margin-bottom: 30px;
}