.Mi-Radio {
  display: inline-flex;
  align-items: center;
  user-select: none;
  &-div {
    @include media-breakpoint-up(sm) {
      margin-left: 20px;
    }
    &:not(:last-child) {
      //background: chartreuse;
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }
  }
  .radioed {
    @include square-size($btn-size-xs);
    @include media-breakpoint-up(sm) {
      @include square-size($btn-size-sm);
    }
    @include media-breakpoint-up(lg) {
      @include square-size($btn-size-lg);
    }
    border: 2px solid $border-btn-color;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border .5s ease;
    &:hover {
      border-color: $hover-color;
    }
    &:after {
      content: "";
      background: $hover-color;
      width: 42%;
      height: 42%;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.5s ease;
    }
    &-text {
      font-weight: bold;
    }
  }
  .radio:checked ~ .radioed {
    border-color: $down-color;
    &:hover {
      border-color: $hover-color;
    }
    &:after {
      transform: scale(1);
    }
  }
}

.Mi-Check {
  display: inline-flex;
  align-items: center;
  user-select: none;
  &-div {
    //border: 1px solid #000;
    margin: 0 0 20px 20px;
  }
  .checked {
    @include square-size($btn-size-xs);
    @include media-breakpoint-up(sm) {
      @include square-size($btn-size-sm);
    }
    @include media-breakpoint-up(lg) {
      @include square-size($btn-size-lg);
    }
    border: 2px solid;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border .5s ease;
    &:hover {
      border-color: $hover-color;
    }
    svg {
      @include square-size($btn-size-xs/1.3);
      @include media-breakpoint-up(sm) {
        @include square-size($btn-size-sm/1.3);
      }
      @include media-breakpoint-up(lg) {
        @include square-size($btn-size-lg/1.3);
      }
      transform: scale(0);
      transition: transform 0.4s ease;
    }
  }
  .checkbox:checked ~ .checked {
    border-color: $down-color;
    &:hover {
      border-color: $hover-color;
    }
    svg {
      transform: scale(1);
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////


.f-container {
  padding: 30px;
  @include media-breakpoint-up(sm) {
    padding: 50px;
  }
}

.type-section {
  &-title {
    padding: 30px 20px 25px 0;
    @include media-breakpoint-up(sm) {
      padding: 40px 50px 60px 0;
    }
    @include media-breakpoint-up(lg) {
      padding: 75px 150px 60px 0;
    }
  }
  &-label {
    &-name {
      @extend .h3;
      font-weight: bold;
      color: $primary;
      text-transform: uppercase;
      padding: 0 0 20px 20px;
      @include media-breakpoint-up(sm) {
        margin-left: 20px;
      }
      @include media-breakpoint-up(lg) {
        padding-left: 30px;
      }
    }
  }
  .text {
    font-weight: bold;
    @extend .h3;
  }
}

.color-section {
  &-label {
    &-name {
      @extend .h3;
      font-weight: bold;
      color: $primary;
      text-transform: uppercase;
      padding: 0 0 20px 20px;
      @include media-breakpoint-up(sm) {
        margin-left: 20px;
      }
      @include media-breakpoint-up(lg) {
        padding-left: 30px;
      }
    }
  }
  .text {
    font-weight: bold;
    @extend .h3;
  }
  .Mi-Check-col {
    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }
    &:last-child {
      .Mi-Check-div {
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-up(sm) {
      &:nth-child(n+5) {
        .Mi-Check-div {
          margin-bottom: 0;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      &:nth-child(n+4) {
        .Mi-Check-div {
          margin-bottom: 0;
        }
      }
    }
  }
}

.fio-section {
  .Mi-input {
    margin-bottom: 40px;
    &-content {
      width: 100%;
      border: none;
      border-bottom: 2px solid;
      padding: 8px 0;
    @include media-breakpoint-up(sm) {
      padding: 8px 15px;
      margin-left: 25px;
      align-items: center;
    }
      &:hover {
        border-color: $primary !important;
        transition: border .2s ease;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-label {
    &-name {
      @extend .h3;
      font-weight: bold;
      color: $primary;
      text-transform: uppercase;
      padding-bottom: 20px;
      @include media-breakpoint-up(lg) {
        padding-left: 30px;
      }
      @include media-breakpoint-up(sm) {
        margin-left: 20px;
      }
    }
  }
  .line {
    right: 0;
    left: 0;
    height: 1px;
    background-color: $primary;
    transform: translateY(10px);
  }
}

.contact-section {
  @include media-breakpoint-up(sm) {
    background: $m-white;
  }
  .Mi-input {
    margin-bottom: 40px;
    position: relative;
    &-content {
      width: 100%;
      border: none;
      border-bottom: 2px solid black;
      padding: 8px 0;
      @include media-breakpoint-up(sm) {
        background: $m-white;
        padding: 8px 15px;
      }
      &:hover {
        border-color: $primary !important;
        transition: border .2s ease;
      }
      //margin-left: 25px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover .icon {
      color: $primary !important;
      transition: color .5s ease;
    }
  }
  &-content {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-label {
    &-name {
      @extend .h3;
      font-weight: bold;
      color: $primary;
      text-transform: uppercase;
      padding: 0 0 20px 20px;
      @include media-breakpoint-up(sm) {
        margin-left: 20px;
      }
      @include media-breakpoint-up(lg) {
        padding-left: 30px;
      }
    }
  }
  .line {
    right: 0;
    left: 0;
    height: 1px;
    background-color: $primary;
    transform: translateY(10px);
  }
}

.l-icon {
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  color: $down-color;
/*  &:hover {
    color: $primary;
    transition: color .5s ease;
  }*/
}

.dop-section {
  @include media-breakpoint-up(sm) {
    margin-left: 20px;
  }
  &-label {
    &-name {
      @extend .h3;
      font-weight: bold;
      color: $primary;
      text-transform: uppercase;
      padding: 0 0 20px 20px;
      @include media-breakpoint-up(lg) {
        padding-left: 30px;
      }
    }
  }
  &-textarea {
    width: 100%;
    height: 140px;
    border: 2px solid #000;
    padding: 8px 45px 8px 15px;
    padding-right: 25%;
    margin-bottom: 15px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 50px;
    }
  }
  &-comment {
    margin-bottom: 30px;
    white-space: nowrap;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
      text-align: end;
    }
  }
}

.Mi-input:hover .icon-hover {
  //color: $primary;
  //transition: color .5s ease;
}