.dot {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: darkolivegreen;
}

body {
  min-width: 320px;
}

.media-breakpoint {
  top: 10px;
  left: 10%;
  //left: 50%;
  //left: 65%;
  transform: translateX(-50%);
  z-index: 999;
  &:after {
    content: "xs";
    font-weight: bold;
    color: Crimson;
    font-size: 48px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
  @include media-breakpoint-up(sm) {
    &:after {
      content: "sm";
      color: Gold;
    }
  }
  @include media-breakpoint-up(md) {
    &:after {
      content: "md";
      color: DarkTurquoise;
    }
  }
  @include media-breakpoint-up(lg) {
    &:after {
      content: "lg";
      color: MediumVioletRed;
    }
  }
  @include media-breakpoint-up(xl) {
    &:after {
      content: "xl";
      color: ForestGreen;
    }
  }
}

.h-11 {
  height: 11px;
}

.h-120 {
  height: 120px;
}

.h-620 {
  height: 620px;
}

.dn {
  display: none !important;
}

.button {
  &-left {
    width: 100%;
  }
  &-right {
    width: 100%;
  }
}

.but-img {
  object-fit: cover;
}

.param {
  .d-span {
    width: 80px;
    text-align: left;
    margin-right: 30px;
  }
}


.about {
  &-item {
    height: 140px;
  }
  &-descr {
    width: 270px;
    padding-bottom: 25px;
  }
  &-pic {
    display: inline-block;
    margin-bottom: 20px;
    //height: 100%;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
    }
    &:after {
      content1: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $primary;
      opacity: .75;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.way {
  border: 1px solid rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  padding: 6px 45px;
  @include media-breakpoint-up(sm) {
   border: none;
    padding: 0 20px;
  }
}

.zigzag-fill {
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  height: 34px;
  background: url("/images/zigzag-fill.png") repeat-x;
}

.zigzag-line {
  position: absolute;
  bottom: -20px;
  left: -10px;
  right: -10px;
  height: 23px;
  background: url("/images/zigzag-line-xs.png") repeat-x;
  @include media-breakpoint-up(sm) {
    background: url("/images/zigzag-line-sm.png") repeat-x;
    opacity: 0.5;
  }
}

.review-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.map-pic {
  width: 100%;
  object-fit: cover;
}
.map {
  pointer-events: none;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.made-by {
  & img {
    width: 100%;
    height: 100%;
  }
  &:after {
    content1: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary;
    opacity: .75;
  }
}

.main {
  transform: translateY(75px);
  @include media-breakpoint-up(sm) {
    transform: translateY(0);
    margin-top: -74px;
  }
}

.big-icon-posit1 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: transform .5s ease;

}

.bag-picture-xl {
  position: absolute;
  right: 0;
}

.proposal {
  &-name {
    margin-bottom: 5px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 65px;
    }
    &-xs {
      @include media-breakpoint-up(sm) {
        display: none;
      }
      @extend .caption-1, .text-uppercase, .text-primary, .bold;
    }
    &-sm {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
        text-align: center;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
      @extend .ml-auto, .caption-1, .text-uppercase, .text-primary, .bold;
    }
    &-lg {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
        text-align: center;
      }
      @extend .caption-1, .text-uppercase, .text-primary, .bold;
    }
  }
  &-content {
    &-2 {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }
  &-price {
    padding-bottom: 25px;
    @include media-breakpoint-up(sm) {
      padding-bottom: 35px;
    }
  }
  &-img-lg {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
    position: absolute;
    right: 0;
    z-index: 0;
  }
}

.bb-hover {
  transition: transform .2s ease;
  &:hover {
    transform: translateY(-5px);
  }
  &:visited {
    .bb-text {
    }
  }
}

.soc-icon {
  align-items: flex-end;
  margin: 0 15px;
  @include media-breakpoint-up(sm) {
    margin: 0 20px;
  }
}
