
//////// Colors

$primary: #64d1bc;
$secondary: #56c3b2;
$tertiary: #35a999;

$light: #ececec;
$lighter: #f1f1f1;

$dark: #7c7c7c;
$darker: #444444;

$m-white: #f9f9f9;

$white: #ffffff;
$black: #000000;

///////////////////////////////

$border-btn-color: #231f20;
$hover-color: #62d1ba;
$down-color: #c7c7c7;
